# [output_pin LED_skylight]
# pin: PA0
# pwm: True
# cycle_time: 0.010
# value: 1


[skew_correction]


[filament_switch_sensor filament_sensor_nozzle]
pause_on_runout: false
switch_pin: !nozzle_mcu:PA10
event_delay: 1.5
pause_delay: 0.25
insert_gcode: LOAD_FILAMENT
runout_gcode: _ON_FILAMENT_RUNOUT


[gcode_macro M191]
description: Wait for Chamber Temperature to heat up
variable_minimum_temp: 30
gcode:

  {% set s = params.S|float %}
  {% set chamber_temp = printer["temperature_sensor chamber_temp"].temperature|float %}

  {% if s > 0 %}
    M141 S{s}
  {% endif %}

  RESPOND TYPE=command MSG="Current chamber temp {chamber_temp}°C"

  {% if s > chamber_temp and chamber_temp < minimum_temp %}
    # turn on aux fan to circulate hot air from the bed
    {% if 'fan_generic auxiliary' in printer.configfile.settings %}
      SET_FAN_SPEED FAN=auxiliary SPEED=0.1
    {% endif %}

    {% set bed_temp = 65 %}
    {% set extruder_temp = 150 %}
    
    {% if s > 35 %}
      {% set bed_temp = 100 %}
    {% endif %}

    RESPOND TYPE=command MSG="Heat Soak warming the chamber to {minimum_temp}-{s}°C"

    _HEAT_SOAK_PRE_HEAT EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp}

    _HEAT_SOAK_WAIT_FOR_MINIMUM MINIMUM_TEMP={minimum_temp}

    _HEAT_SOAK_WAIT TARGET_TEMP={s}

    {% if 'fan_generic auxiliary' in printer.configfile.settings %}
      SET_FAN_SPEED FAN=auxiliary SPEED=0
    {% endif %}

  {% endif %}


# ___________________________________________________________________________________
# Heat Soak Macros
# ___________________________________________________________________________________

[gcode_macro _HEAT_SOAK_PRE_HEAT]
description: Pre Heat Bed and Extruder with default temp of 100 and 150
variable_extruder_temp: 150
variable_bed_temp: 100
gcode:

  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(extruder_temp)|int %}
  {% set BED_TEMP = params.BED_TEMP|default(bed_temp)|int %}

  RESPOND TYPE=command MSG="Preheating bed to {BED_TEMP} and extruder to {EXTRUDER_TEMP} for heat soak"

  M140 S{BED_TEMP}
  M104 S{EXTRUDER_TEMP}

  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={EXTRUDER_TEMP}


[gcode_macro _HEAT_SOAK_WAIT_FOR_MINIMUM]
description: Wait for a finite amount of time for the chamber to heat up.  About 1.5 minutes per degree.
variable_minimum_temp: 30
gcode:

  {% set chamber_temp = printer["temperature_sensor chamber_temp"].temperature|float %}
  {% set MINIMUM_TEMP = params.MINIMUM_TEMP|default(minimum_temp)|int %}
  
  RESPOND TYPE=command MSG="Current chamber temp {chamber_temp}°C"

  {% if MINIMUM_TEMP > chamber_temp %}
    RESPOND TYPE=command MSG="Waiting for the bed to heat up the chamber to minimum temp..."
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber_temp" MINIMUM={MINIMUM_TEMP}
    RESPOND TYPE=command MSG="Minimum Chamber target temperature reached: {MINIMUM_TEMP}°C"
  {% endif %}


[gcode_macro _HEAT_SOAK_WAIT]
description: Wait for a finite amount of time for the chamber to heat up.  About 1.5 minutes per degree.
variable_heat_soak_wait_multiplier: 102.0
variable_heat_soak_wait_interval: 30
gcode:

  {% set chamber_temp = printer["temperature_sensor chamber_temp"].temperature|float %}
  {% set target_temp = params.TARGET_TEMP|float %}
  {% set temp_delta = (target_temp - chamber_temp)|float %}
  
  RESPOND TYPE=command MSG="Current chamber temp {chamber_temp}°C"
  RESPOND TYPE=command MSG="Waiting for the bed to heat up the chamber to {target_temp}°C..."

  {% if temp_delta > 1 %}
    {% set total_time = (temp_delta * heat_soak_wait_multiplier)|int %}
    
    {% if total_time > 900 %}
      {% set total_time = 900 %}
    {% endif %}
    
    RESPOND TYPE=command MSG='Heat soak starting with a total time of {total_time} seconds...'
    {% set loops = (total_time / heat_soak_wait_interval)|int %}
    {% for i in range(loops) %}
        {% set time_remaining = total_time - (i + 1) * heat_soak_wait_interval %}
        RESPOND TYPE=command MSG='Heat soak { time_remaining } seconds remaining'
        {% if time_remaining < heat_soak_wait_interval %}
            G4 P{ time_remaining * 1000 }  # Wait for the interval time in milliseconds
        {% else %}
            G4 P{ heat_soak_wait_interval * 1000 }  # Wait for the interval time in milliseconds
        {% endif %}
    {% endfor %}
    RESPOND TYPE=command MSG='Heat soak finished!'
  {% else %}
    RESPOND TYPE=command MSG='Skipping Heat soak'
  {% endif %}
#__________________________________________________________________________________________________


# ___________________________________________________________________________________
# Advanced Nozzle Wipe "V5"
# ___________________________________________________________________________________

[output_pin NOZZLE_WIPER]
 pin: virtual_pin:NOZZLE_WIPER_pin
 value: 1


[gcode_macro WIPE_NOZZLE]
description: Advanced Nozzle Wiper
gcode:
  _SAF_NOZZLE_WIPE {rawparams}


[gcode_macro _SAF_NOZZLE_WIPE]
variable_brush_mount        : "V5K1C"     # <------- CHANGE TO A1, V5K1C, OGK1C, A1MINI, V4MINI, LPF, LPF2, LIBRA, LIBRA2, MOLDED, NONE
variable_printer_version    : "K1"        # <------- AUTO DETECTS K1, K1C, K1SE, K1MAX. SET TO CUSTOM TO CHANGE VARIABLES MANUALLY
variable_start_z            : 5.5         # <------- AUTOMATICALLY CHANGES BASED ON BRUSH IF NOT USING CUSTOM
variable_wipe_pattern       : "STRAIGHT"  # STRAIGHT / ZIGZAG / DISABLED. ONLY STRAIGHT IS SUPPORTED FOR LPF MOUNTS

# ___________________________________________________________________________________

# OPTIONS

variable_speed              : 2500      # THIS CHANGES HOW FAST IT WIPES. I RECOMMEND 1000-5000.
variable_wipe_qty           : 3         # AMOUNT OF WIPE SEQUENCES. 1 FOR PURE SPEED, MORE RECOMMENDED TO AVOID LEAKS
variable_console_output     : "ON"      # ON, OFF. ENABLES OR DISABLES EXTRA INFO IN CONSOLE FOR DIAGNOSTIC PURPOSES
variable_bot_clearance      : 20        # HOW MUCH CLEARANCE YOU NEED UNDER THE BED FOR MODS OR STORAGE.
variable_drop_distance      : 30        # LOWERS THE BED BY THIS MUCH BEFORE MOVING TO AVOID COLLISIONS.
variable_spacer_height      : 0         # MODIFIES THE Z OFFSET TO ACCOUNT FOR A SPACER FOR MODIFIED BEDS

# ___________________________________________________________________________________

variable_start_x            : 121       # CHANGES AUTOMATICALLY DEPENDING ON BRUSH AND PRINTER TYPE
variable_start_y            : 222.5     # CHANGES AUTOMATICALLY DEPENDING ON BRUSH AND PRINTER TYPE
variable_brush_length       : 38        # CHANGES AUTOMATICALLY DEPENDING ON BRUSH TYPE. ADD 3 FOR CUSTOM LENGTHS
variable_top_clearance      : 20        # THE BED WILL LOWER BY THE DROP DISTANCE IF IT IS ABOVE THIS VALUE
variable_limit_z            : 250       # CHANGES AUTOMATICALLY TO REFLECT YOUR -FACTORY- BUILD VOLUME
variable_limit_x            : 220       # CHANGES AUTOMATICALLY TO REFLECT YOUR -FACTORY- BUILD VOLUME
variable_limit_y            : 220       # CHANGES AUTOMATICALLY TO REFLECT YOUR -FACTORY- BUILD VOLUME

variable_config_version: "V5"

# ___________________________________________________________________________________

gcode:
  # TOGGLE BUTTON IN FLUIDD AND SAFETY FEATURE TO PROTECT AGAINST DAMAGE FROM MISCONFIGURATION.
  # COMMENT THIS OUT IF YOU ARE GETTING A VIRTUAL PINS ERROR
  {% if printer['output_pin NOZZLE_WIPER'].value == 0 %}
    {% set wipe_pattern = "DISABLED" %}
  {% endif %}

  {% if wipe_pattern not in ["OFF", "DISABLED"] %}

    # INITIALIZATION
    {% set start_y = (printer.configfile.settings.stepper_y.position_max - 2.6) %}

    # INITIALIZATION START X
    {% set start_x = (limit_x / 2) - (brush_length / 2) %} # -1.5
    {% set start_z = (start_z) + (spacer_height) %} # ACCOUNTS FOR A SPACER FOR MODIFIED BEDS

    {% if console_output == "ON" %}
      RESPOND PREFIX="Nozzle wipe: using the [{wipe_pattern}] wipe pattern at a height of [{start_z}mm] with a speed of [{speed}]."
    {% endif %}

    {% if "xyz" not in printer.toolhead.homed_axes %}
      {% if console_output == "ON" %}
        RESPOND PREFIX="Nozzle wipe: Homing before wipe sequence"
      {% endif %}
      G28
    {% endif %}

    {% set current_z_pos = printer.toolhead.position.z %}
    {% set target_z = current_z_pos + (drop_distance) %}
    G90
    {% if target_z > bot_clearance %}
      G1 Z{bot_clearance} F1500
    {% else %}
      G1 Z{target_z} F1500
    {% endif %}
    M400

    G1 X{start_x} Y{start_y} F6000
    M400
    G1 Z{start_z} F1000

    {% if console_output == "ON" %}
        RESPOND PREFIX="Nozzle wipe: Wipe sequence started, using the [{wipe_pattern}] wipe pattern.."
    {% endif %}

    # ZIGZAG SEQUENCE STANDARD
    {% if wipe_pattern == "ZIGZAG" %}
      {% for wipes in range(1, (wipe_qty + 1)) %}
          G1 X{start_x + (brush_length)} F{speed}
          G1 X{start_x} F{speed}
          G1 X{start_x + (brush_length * 0.1)} Y{start_y + 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.2)} Y{start_y - 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.3)} Y{start_y + 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.4)} Y{start_y - 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.5)} Y{start_y + 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.6)} Y{start_y - 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.7)} Y{start_y + 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.8)} Y{start_y - 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.9)} Y{start_y + 2.5} F{speed}
          G1 X{start_x + brush_length} Y{start_y - 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.9)} Y{start_y + 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.8)} Y{start_y - 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.7)} Y{start_y + 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.6)} Y{start_y - 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.5)} Y{start_y + 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.4)} Y{start_y - 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.3)} Y{start_y + 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.2)} Y{start_y - 2.5} F{speed}
          G1 X{start_x + (brush_length * 0.1)} Y{start_y + 2.5} F{speed}
          G1 X{start_x} Y{start_y} F{speed}
      {% endfor %}
    {% endif %}

  #STRAIGHT PATTERN STANDARD
  {% if wipe_pattern == "STRAIGHT" %}
      {% for wipes in range(1, (wipe_qty + 1)) %}
          G1 X{start_x + brush_length} F{speed}
          G1 X{start_x} F{speed}
          G1 Y{start_y - 1} F{speed}
          G1 X{start_x + brush_length} F{speed}
          G1 X{start_x} F{speed}
          G1 Y{start_y} F{speed}
          G1 X{start_x + brush_length} F{speed}
          G1 X{start_x} F{speed}
          G1 Y{start_y + 1} F{speed}
          G1 X{start_x + brush_length} F{speed}
          G1 X{start_x} F{speed}
          G1 Y{start_y} F{speed}
          G1 X{start_x + brush_length} F{speed}
          G1 X{start_x} Y{start_y} F{speed}
      {% endfor %}
    {% endif %}

    {% if console_output == "ON" %}
      RESPOND PREFIX="Nozzle wipe: Cleaning sequence complete."
    {% endif %}

    G1 Z{top_clearance} F1000

  {% else %}
    RESPOND PREFIX="Nozzle wiping [DISABLED] - Click the toggle button under Fans & Outputs to enable."
  {% endif %}
#__________________________________________________________________________________________________


# ___________________________________________________________________________________
# Ellis' TEST_SPEED macro
# ___________________________________________________________________________________

[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED
#__________________________________________________________________________________________________


[gcode_macro _SAF_START_PRINT_END]
variable_skew_enabled: True
gcode:
  {% if skew_enabled %}
    SKEW_PROFILE LOAD=default
  {% endif %}


[gcode_macro _SAF_END_PRINT_START]
variable_skew_enabled: True
gcode:
  {% if skew_enabled %}
    SET_SKEW CLEAR=1
  {% endif %}
