[output_pin LED_skylight]
pin: PA0
pwm: True
cycle_time: 0.010
value: 1

# Custom Shortcuts

[gcode_macro EDDY_TAP]
gcode:
    PROBE_EDDY_NG_TAP 

[gcode_macro EDDY_SETUP]
gcode:
   {% set bed_temp = 65 %}
   {% set preheat_nozzle_temp = 150 %}
   {% set btteddy_wait_for_temp = True %}

   RESPOND TYPE=command MSG='Heating bed to {bed_temp}c'
   M140 S{bed_temp}  # start heating bed dont wait
   RESPOND TYPE=command MSG='Heating extruder to {preheat_nozzle_temp}c'
   M104 S{preheat_nozzle_temp}  # start heating nozzle but only to just before oozing

   {% if btteddy_wait_for_temp %}
       {% set current_bed_temp = printer.heater_bed.temperature %}
      {% if current_bed_temp < bed_temp %}
         RESPOND TYPE=command MSG='Waiting for bed to be at least {bed_temp}c'
         M190 S{bed_temp}  # wait for bed temperature before next step
      {% endif %}
   {% endif %}

   G28
   PROBE_EDDY_NG_SETUP

[gcode_macro EDDY_TEST]
gcode:
   # Chack that it can Home
   G28 Z
   # Chack that it can tap
   PROBE_EDDY_NG_TAP

   RESPOND TYPE=command MSG="action:prompt_begin Paper Z Test"
   RESPOND TYPE=command MSG="action:prompt_text Prepare for paper test to check tap_adjust_z."
   RESPOND TYPE=command MSG="action:prompt_footer_button OK|RESPOND TYPE=command MSG=action:prompt_end"
   RESPOND TYPE=command MSG="action:prompt_show"
   G0 Z0
   RESPOND TYPE=command MSG='Check Z offset, manually adjust, and save with PROBE_EDDY_NG_SET_TAP_ADJUST_Z VALUE=0.15'

[gcode_macro EDDY_ACCURACY]
gcode:
    PROBE_EDDY_NG_PROBE_ACCURACY