# Klipper TMC Autotune Config
#   Stepper driver: TMC2209
#   Stock X/Y motor: creality-42-40
# 
# Performance Settings for reference (ldo-42sth48-2504ac)
#   pwm_freq=2
#   tbl=1
#   toff=1
#   hstrt=5
#   hend=3
#   sgthrs=40
#   pwm_autoscale=True
#   pwm_autograd=True
#   pwm_grad=10
#   pwm_ofs=30
#   pwm_reg=15
#   pwm_lim=4
#   tpwmthrs=1048575
#   en_spreadcycle=True
#   tcoolthrs=313(30.0)
#   semin=2
#   semax=4
#   seup=3
#   sedn=2
#   seimin=1
#   iholddelay=12
#   multistep_filt=True

[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ac
sg4_thrs: 75

[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ac
sg4_thrs: 75

# Sounds bad at 1500 mm/s.  Good at 1200
# [autotune_tmc stepper_z]
# motor: creality-42-40
# tuning_goal: silent

# Just sounds bad
# [autotune_tmc extruder]
# motor: moons-cse14hra2l410a
# # tuning_goal: silent
