# Klipper TMC Autotune Config
#   stepper driver TMC2209

[autotune_tmc stepper_x]
# stock motor: creality-42-40
motor: ldo-42sth48-2504ac
sg4_thrs: 75

[autotune_tmc stepper_y]
# stock motor: creality-42-40
motor: ldo-42sth48-2504ac
sg4_thrs: 75

# [autotune_tmc stepper_z]
# motor: creality-42-40
# extra_hysteresis: 8
# tuning_goal: silent

# [autotune_tmc extruder]
# motor: moons-cse14hra2l410a
# # tuning_goal: silent
